<div class="form-left-col">
    <label>Id:</label>
    <input id="wineId" name="id" type="text" value="<%= id %>" disabled />

    <label>Hostname:</label>
    <input type="text" id="hostname" name="hostname" value="<%= hostname %>" required/>

    <label>Weight:</label>
    <input type="text" id="weight" name="weight" value="<%= weight %>"/>

    <label>Load:</label>
    <input type="text" id="load" name="load" value="<%= load %>"/>

    <label>Target Load:</label>
    <input type="text" id="targetLoad" name="targetLoad"  value="<%= targetLoad %>"/>

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>
